body {
    padding-top: 70px;
}

#encabezado {
    margin-bottom: 8px;
}

#icono {
    margin-right: 5px;
}

div >#login {
    background-image: url("../views/assets/resources/fondo.jpg");
}

#login-encabezado {
    color: white;
    text-align: center;
}